/backend/__pycache__/agent.cpython-312.pyc
/backend/__pycache__/models.cpython-312.pyc
/backend/__pycache__/routes.cpython-312.pyc
/backend/.env
/backend/.idea/.gitignore
/backend/.idea/backend.iml
/backend/.idea/inspectionProfiles/profiles_settings.xml
/backend/.idea/misc.xml
/backend/.idea/modules.xml
